body {
margin: 0;
color: white;
font-family: "Fira Code", monospace;
font-optical-sizing: auto;
font-weight: 400;
text-align: center;
height: 100vh;
}
body * {
	box-sizing: border-box;
}

.page {
	height: 100%;
	display: flex;
	background: black;
	flex-direction: column;
	justify-content: space-around;
	justify-items: center;
	align-items: center;
}
body img {
	width: 90%;
	max-width: 500px;
}
.numbers {
	font-family: Georgia;
}
ul {
	list-style: none;
	padding: 0;
	margin: none;
}

a {
	color: white;
}