body {
margin: 0;
color: white;
font-family: "Fira Code", monospace;
font-optical-sizing: auto;
font-weight: 400;
text-align: center;
height: 100vh;
max-height: 100vh;
background: black;
}
body * {
	box-sizing: border-box;
}

.page {
	width: 100%;
}
body img {
	width: 90%;
	margin: 5vh 0 0 0;
	max-width: 500px;
	justify-self: center;
}
.numbers {
	font-family: Georgia;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
p {
	margin: none;
}

a {
	color: white;
}